<div class="row">
  <%- article.each_with_index do |a, i| %>
    <a href="<%= a.link %>">
    <% if i.even? %> <div class="span4 offset1">
    <% else %>       <div class="span4">  
    <% end %> 
    <div class="article">
      <img class="float-left-img" src="<%= a.img %>"></img>
      <p>
        <%= a.title %>
        <%= render partial: 'no_mouse_link', object: a.link %>
      </p>
    </div>
    </div>
    </a>
  <% end %>
</div>

