<div class="row">
  <a href="<%= main_article.link %>">
        <div class="span4 offset1">
          <img src="<%= main_article.img %>"></img>
        </div>
        <div class="span4">
          <h2> <%= main_article.title %> </h3>
          <p> <%= main_article.desc %> </p>
        </div>
  </a>
</div>
