- @sections.each do |section|
  .row
    .span12.text-center
      %h2= section.header
    = render partial: 'main_article', object: section.main_article
  = render partial: 'article', collection: section.articles
