- @sections.each do |section|
  .section
    .row
      .span12.text-center
        %h1= section.header
      = render partial: 'main_article', object: section.main_article
    = render partial: 'article', collection: section.articles
