!!!
%html
  %head
    %title LeMondeErgo
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .main
      = yield

:javascript
  $(".main").onepage_scroll({
     sectionContainer: "section",    // sectionContainer accepts any kind of selector in case you don't want to use section
     easing: "ease",                 // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in", "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
     animationTime: 500,             // AnimationTime let you define how long each section takes to animate
     pagination: true,               // You can either show or hide the pagination. Toggle true for show, false for hide.
     updateURL: false,               // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
     beforeMove: function(index) {}, // This option accepts a callback function. The function will be called before the page moves.
     afterMove: function(index) {},  // This option accepts a callback function. The function will be called after the page moves.
     loop: true,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
     responsiveFallback: false       // You can fallback to normal page scroll by defining the width of the browser in which you want the responsive fallback to be triggered. For example, set this to 600 and whenever the browser's width is less than 600, the fallback will kick in.
  });

  function allCombinations(letters, combinationSize) {
    function loop(acc, iteration) {
      if (iteration > 1) {
        acc = _.map(letters, function(l) { 
          return _.map(acc, function(c) { return c + l; });
        });
        acc = _.flatten(acc);

        return loop(acc, iteration - 1);
      } else {
        return acc;
      }
    }
    
    return loop(letters.split(''), 3); 
  }

  var setOflettersAvailable = "auietsrn"
  var combinations = allCombinations(setOflettersAvailable, 3);
  console.log(combinations)

  var links = $("span.nomouse[dest]")
  var combinationsUsed = _.take(combinations, links.length)
  var hashArray = []
  _.each(_.zip(links, combinationsUsed), function(item) {
    var link = _.first(item)
    var trigger = _.last(item)

    $(link).append("<i class='icon-plus'>" + trigger + "</i>");
    var dest = link.getAttribute("dest")
    hashArray[trigger] = dest
    // this is so ugly, I hate Javascript :-(
    var binding = trigger.split('').join(' ')

    Mousetrap.bind(binding, function(e, combo) {
      # this is even uglier, I just cant like js
      var comboWithoutSpace = combo.replace(/ /g, '');
      var link = hashArray[comboWithoutSpace];
      window.open(link);
    });
  });

